.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  left: 0;
  top: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

#links-container {
  margin-left: 20%;
  margin-right: auto;
  width: fit-content;
}

.section-header {
  grid-column: 1 / span 2;
  border: white;
  border-style: solid;
}

a {
  color: white;
}

body {
  background-color: #282c34;
  color: white;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  align-content: center;
  width: 20%;
}

.App-header {
  position: sticky;
  left: 0;
  top: 0;
  background-color: #282c34;
}

.nav-list {
  list-style-type:none;
  text-align: left;
}